<html>
<head>
    <title></title>
</head>
<body>
    @*<div>
        <h1>Hello form index view</h1>
    </div>
    <div>
        @DateTime.Now
    </div>
    <div>
        @{
            var a = 1;
            var b = 2;
            var c = a + b;

            var currentTime = DateTime.Now;
            var tomorrowTime = DateTime.Now.AddDays(1);

            var colorList = new List<string>()
        {
            "Red","Green","Pink","Blue",
        };

        }
        <div>
            <label>@c</label>
            <br />
            <label>Current time - @currentTime</label>
            <br />
            <label>Tomorow Time- @tomorrowTime</label>
            <label>@colorList.FirstOrDefault()</label>
        </div>     @(5-3)
    </div>*@

    <div>Usama88617@outlook.com</div>
    <div>My Outlook Account  - @@Usama88617</div>
    

    </body>
</html>

